/* #one {
    font-size: 25px;
    line-height: normal;
    text-transform: capitalize;
}

#three {
    font-size: 11px;
} */

* {
    font-family: 'Times New Roman';
}

h1 {
    text-align: center;
    text-transform: capitalize;
}

#outer {
    font-size: 25px;
}

#inner {
    font-size: 10px;
}