body {
    font-family: Arial, sans-serif;
}

.title {
    text-align: center;
}

table {
    width: 70%;
    border-collapse: separate;
    margin: 20px auto;
    text-align: center;
}

/* Header styling */
th {
    background-color: #0b6c0f;
    color: white;
    padding: 10px;
    font-size: 18px;
}

/* Cell styling */
td {
    padding: 10px;
}

/* Borders */
table, th, td {
    border: 4px solid black;
}

/* Alternate row colors */
tr:nth-child(even) {
    background-color: #f5d534;
}

tr:nth-child(odd) {
    background-color: #cedfe4cf;
}
