body{
    margin: 0;
    font-family: Arial, sans-serif;
}
.top{
    background: #9a4444;
    color: white;
    padding: 15px;
    text-align: center;
}
.top a{
    color: rgb(255, 255, 255);
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
}
.container{
    display: flex;
    height: calc(100vh-60px);
}
.left{
    width: 200px;
    background: #b5d2cd;
    padding: 20px;
    box-sizing: border-box;
}
.left a{
    display: block;
    margin: 10px 0;
    color: #000;
    text-decoration: none;
}
.right{
    flex: 1;
    padding: 20px;
    overflow: auto;
    box-sizing: border-box;
    background: #abd498;
} 


