div {
    height: 100px;
    width: 100px;
    background-color: pink;
    border-width: 2px;
    border-style: solid;
    border-color: brown;
    text-align: right;
}

h1 {
    width: 200px;
    height: 50px;
    background-color: brown;
    border-width: 3px;
    border-style: dashed;
    border-color: black;
    text-align: center;
}